<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Credencial - ModalGR</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        
        <link rel="icon" href="../Img/logo2.png">
    </head>
    <body>
        <div class="box">
            <img src="../img/logo2.png" alt="Logo ModalGR" width="70px" class="logo">
            <h1>Credenciamento</h1>
            <form id="meuForm">
                <label for="nomeCompleto" class="labelNome">Nome completo:</label>
                <input type="text" placeholder="" id="nomeCompleto" autofocus> 
                <button id="gerarBtn">Gerar</button>                  
            </form>
            
            
        </div>
        <script src="../assets/script/script.js"></script>       
    </body>

</html>